.carousel-item {
  width: 100%;
  text-align: center;

  img {
    width: 50%;
    max-width: 150px;
    aspect-ratio: 1/1;
    // margin: 0 auto;
    // height: 150px;
    object-fit: cover;
  }
}
.controls {
  span {
    color: black;
  }
}
