nav {
  background-color: $nav-bg-color;
  font: {
    family: $nav-font;
  }

  img {
    height: $logo-height;
  }

  .dark-theme {
    cursor: pointer;
  }
  .light-theme {
    cursor: pointer;
  }
}
