$margin-nav-items: 10px;
$margin-nav: 20px;

$main-font: "Comfortaa", cursive;
$main-font-color: rgb(63, 63, 63);

$logo-height: 50px;
$nav-font: "Comfortaa", cursive;
$nav-bg-color: rgb(154, 191, 0);

$padding: 10px;
$text-color: white;

$btn-padding: 7px;
$btn-bg-color: #007f5f;
$btn-border-radius: 5px;
